.inline-block {
    display: inline-block;
    vertical-align: top;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    word-spacing: 20px;
}

header {
    background-color: #373738;
}

.logo {
    width: 22%;
    padding: 1%;
    text-align: left;
}

#logo {
    width:60px;
    height: 60px;
}

nav {
    width: 73%;
    padding: 1%;
    text-align: right;
}

ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

#portrait {
  height: 20%;
  width: 20%;
}

.content {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border: solid #373738;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background-color: #373738;
    width: 100%;
    height: 60px;
}

footer ul {
    display: inline-block;
    vertical-align: top;
    word-spacing: 20px;
}